<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.daiqile.xianjindai">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" /> <!-- 获取网络状态 -->
    <uses-permission android:name="android.permission.INTERNET" /> <!-- 网络通信 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" /> <!-- 获取设备信息 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" /> <!-- 获取MAC地址 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" /> <!-- 读写sdcard，storage等等 -->
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.READ_CALL_LOG" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <supports-screensapplication
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:resizeable="true"
        android:smallScreens="true" />

    <!-- 允许程序录制音频 -->
    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/icon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">
        <activity
            android:name=".activity.LaunchActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.LoginActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.RegistAvtivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.FindPwdByPhoneActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.IdentityCardActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.BankCardActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.BindCardActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.PersonalDetailsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.ChangePwdActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.ChangeLoginPwdActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.EmergencyContactActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.BorrowActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.BorrowConfirmActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.ThirdPartCertificationActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.LoanActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".activity.AuthorizationActivity" />
        <activity android:name=".PhoneServertActivity" />
        <activity android:name=".DealActivity" />
        <activity android:name=".activity.RepaymentActivity" />
        <activity
            android:name=".CropAcitivity"
            android:configChanges="orientation|screenSize|keyboard|keyboardHidden"
            android:screenOrientation="portrait" />
        <activity android:name=".activity.BankCertificateActivity" />

        <service android:name="com.yintong.secure.service.PayService" />

        <activity android:name=".activity.OtherOptionalActivity" />
        <activity android:name=".activity.LoanSuggestsActivity" />
        <activity android:name=".SendSmsCodeActivity"></activity>
    </application>

</manifest>