<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.phonegap.picselector">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application android:allowBackup="true">

        <activity
            android:configChanges="orientation|screenSize"
            android:name="com.phonegap.picselector.MultiImageSelectorActivity" />

        <!--<provider-->
            <!--android:name="android.support.v4.content.FileProvider"-->
            <!--android:authorities="com.phonegap.picselector.provider666"-->
            <!--android:exported="false"-->
            <!--android:grantUriPermissions="true">-->
            <!--<meta-data-->
                <!--android:name="android.support.FILE_PROVIDER_PATHS"-->
                <!--android:resource="@xml/file_paths"/>-->
        <!--</provider>-->
    </application>

</manifest>
